<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FFXIV_Character_Linker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FFXIV_Character_Linker.Properties.Settings>
            <setting name="GameDocumentsDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedMaster" serializeAs="String">
                <value>Blank</value>
            </setting>
            <setting name="SyncControlPosition" serializeAs="String">
                <value>1, 1</value>
            </setting>
            <setting name="NeedToDeploy" serializeAs="String">
                <value>False</value>
            </setting>
        </FFXIV_Character_Linker.Properties.Settings>
    </userSettings>
</configuration>